<div >
    <div ><a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профиль</a></div>
    <div><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Пароль</a></div>
</div>
