@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Смена пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*<partial name="_StatusMessage" for="StatusMessage" />*@
<div class="main-login">
    <div class="second-line">
        <div class="card">
            <h4>@ViewData["Title"]</h4>
            <form id="change-password-form" method="post">
                <div class="simple-element">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="simple-element">
                    <label asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="simple-element">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="simple-element">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="simple-element">
                    <div class="pre-button"><button type="submit" class="btn btn-primary">Сменить пароль</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}