@using Microsoft.AspNetCore.Identity
@using TestApplication.Areas.Identity.Models
@inject SignInManager<CustomIdentityUser> SignInManager
@inject UserManager<CustomIdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-container">
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привествую @UserManager.GetUserName(User)!</a>
    </div>
    <div class="nav-margin nav-container">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit">Выход</button>
        </form>
    </div>
}
else
{
    <div class="nav-container">
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </div>
    <div class="nav-margin nav-container">
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </div>
}